
.banner{
    padding: 50px 100px;
    display: flex;
    align-items: center;
    background-color: pink;
}
.banner .profile{
    width: 500px;
}

.banner .primary{
    color: coral;
    
}

.deal{
    padding: 200px 120px 100px 150px;
    display: flex;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.219);
}
.deal .picture{
    width: 200px;
    padding: 10px;
    margin-left: 20px;

}
.deal .secondary{
    color: crimson;
    
}

.red{
    color: rgba(255, 105, 180, 0.726);
}

.third{
    padding: 100px 150px;
    align-items: center;
    
}

.third .degin{
    display: flex;
    margin: 50px 100px;
    width: 10px;
    font-size: 10px;
    padding: 50px;
    border-right: 10px;
}
.third .style{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    align-items: center;
}